<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>Radroots</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>

	<key>GIT_SHA</key>
	<string>$(GIT_SHA)</string>

	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
				</dict>
			</array>
		</dict>
	</dict>

	<key>UILaunchScreen</key>
	<dict>
		<key>UIColorName</key>
		<string>RadrootsSplashBackground</string>
		<key>UIImageName</key>
		<string>RadrootsSplashLogomark</string>
	</dict>

	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>

	<key>RADROOTS_FIELD_IOS_RUNTIME_MODE</key>
	<string>$(RADROOTS_FIELD_IOS_RUNTIME_MODE)</string>
	<key>RADROOTS_FIELD_IOS_LOGGING_STDOUT</key>
	<string>$(RADROOTS_FIELD_IOS_LOGGING_STDOUT)</string>
	<key>RADROOTS_FIELD_IOS_LOGGING_FILTER</key>
	<string>$(RADROOTS_FIELD_IOS_LOGGING_FILTER)</string>
	<key>RADROOTS_FIELD_IOS_LOGGING_FILE_ENABLED</key>
	<string>$(RADROOTS_FIELD_IOS_LOGGING_FILE_ENABLED)</string>
	<key>RADROOTS_FIELD_IOS_LOGGING_FILE_NAME</key>
	<string>$(RADROOTS_FIELD_IOS_LOGGING_FILE_NAME)</string>
	<key>RADROOTS_FIELD_IOS_NOSTR_RELAY_URLS</key>
	<string>$(RADROOTS_FIELD_IOS_NOSTR_RELAY_URLS)</string>
	<key>RADROOTS_FIELD_IOS_KEYCHAIN_SERVICE_PREFIX</key>
	<string>$(RADROOTS_FIELD_IOS_KEYCHAIN_SERVICE_PREFIX)</string>
	<key>RADROOTS_FIELD_IOS_KEYCHAIN_ACCESS_POLICY</key>
	<string>$(RADROOTS_FIELD_IOS_KEYCHAIN_ACCESS_POLICY)</string>
	<key>RADROOTS_FIELD_IOS_RESET_LOCAL_STATE</key>
	<string>$(RADROOTS_FIELD_IOS_RESET_LOCAL_STATE)</string>
	<key>RADROOTS_FIELD_IOS_TRADE_RHI_PUBKEY</key>
	<string>$(RADROOTS_FIELD_IOS_TRADE_RHI_PUBKEY)</string>
</dict>
</plist>
