#include "Common.xcconfig"
#include "../radroots.xcconfig"

RADROOTS_FIELD_IOS_RUNTIME_MODE = production
RADROOTS_FIELD_IOS_LOGGING_STDOUT = false
RADROOTS_FIELD_IOS_LOGGING_FILTER = info
RADROOTS_FIELD_IOS_LOGGING_FILE_ENABLED = true
RADROOTS_FIELD_IOS_LOGGING_FILE_NAME = field-ios.log
RADROOTS_FIELD_IOS_NOSTR_RELAY_URLS = wss:$(SLASH)$(SLASH)radroots.org
RADROOTS_FIELD_IOS_KEYCHAIN_SERVICE_PREFIX = org.radroots.field_ios
RADROOTS_FIELD_IOS_RESET_LOCAL_STATE = false
RADROOTS_FIELD_IOS_TRADE_RHI_PUBKEY =
