#include "Base.xcconfig"

RADROOTS_FIELD_IOS_RUNTIME_MODE = localhost-dev
RADROOTS_FIELD_IOS_LOGGING_STDOUT = true
RADROOTS_FIELD_IOS_LOGGING_FILTER = debug
RADROOTS_FIELD_IOS_LOGGING_FILE_ENABLED = false
RADROOTS_FIELD_IOS_LOGGING_FILE_NAME = field-ios-debug.log
RADROOTS_FIELD_IOS_NOSTR_RELAY_URLS = ws:$(SLASH)$(SLASH)127.0.0.1:8080
RADROOTS_FIELD_IOS_AUTH_API_BASE_URL = http:$(SLASH)$(SLASH)127.0.0.1:18186
RADROOTS_FIELD_IOS_ACCOUNTS_API_BASE_URL = http:$(SLASH)$(SLASH)127.0.0.1:18182
RADROOTS_FIELD_IOS_KEYCHAIN_SERVICE_PREFIX = org.radroots.field_ios.local
RADROOTS_FIELD_IOS_RESET_LOCAL_STATE = false

#include? "../radroots.local.xcconfig"
